#!/usr/bin/env python

dolibarr = {
    "server" : < dolibarr hostname ex: 'localhost' >,
    "port": < dolibarr port >,
    "api_key" : < dolibarr api key retireved from /login >
}

odoo = {
    "server_url" : <odoo server url>
}